<%= form_with(model: philosopher) do |form| %>
  <% if philosopher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(philosopher.errors.count, "error") %> prohibited this philosopher from being saved:</h2>

      <ul>
        <% philosopher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
  </div>
  <br>

  <div class="field form-group">
    
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
  </div>
  <br>

  <div class="field form-group">
    
    <%= form.text_field :school, class:"form-control", placeholder:"School" %>
  </div>
  <br>

  <div class="field form-group">
    
    <%= form.text_field :nation, class:"form-control", placeholder:"Nation" %>
  </div>
  <br>

  <div class="field form-group">
    
    <%= form.text_field :best_work, class:"form-control", placeholder:"Best work" %>
  </div>
  <br>

  <div class="field form-group">
      
      <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
